<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect Config" stopProcessing="true">
                    <match url="setup-config.php" ignoreCase="false" />
                    <action type="Redirect" url="../wp-content/mu-plugins/wp-db-abstraction/setup-config.php" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
